$primary-color: #06173e;
$darker: #022c32;
$dark: #02213b;
$light: #2456a3;
$lighter: #3cdff7;
$error: #e6492e;
$contrast-text: #ffffff;

:export {
  primaryColor: $primary-color;
  dark: $dark;
  darker: $darker;
  light: $light;
  lighter: $lighter;
  error: $error;
  contrastText: $contrast-text;
}
